.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.color-select{
  height: 350px;
  width: 350px;
  border-radius: 16px;
  background-color: blue;
  margin-bottom: 16px;
}
.horizontal-slider{
  display: flex;
  border: solid 1px black;
  height: 20px;
  width: 300px;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;
}

.example-thumb-red{
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: solid 1px black;
  padding: 12px;
  border-radius: 100%;
  width: 30px;
  text-align: center;
}
.example-thumb-green{
  background-color: green;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: solid 1px black;
  padding: 12px;
  border-radius: 100%;
  width: 30px;
  text-align: center;
}
.example-thumb-blue{
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: solid 1px black;
  padding: 12px;
  border-radius: 100%;
  width: 30px;
  text-align: center;
}